/* styles.css */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("https://images.unsplash.com/photo-1505954137021-b6bf5a131a7b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header styling */
header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Section styling */
section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: adds some contrast for readability */
}

h1 {
    color: white;
    text-align: center;
}

/* h2 styling */
h2 {
    color: white;
    text-align: center;
    font-size: 100px;
}

/* Paragraph styling */
p {
    line-height: 1.6;
    color: white;
    text-align:center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align:center;
  
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
}
