type="text/css"> <link rel="Stylesheet" href="style.css" type="text/css">
			body {
				font-family: Helvetica, Arial, sans-serif;
				color: #665544;
				padding: 0 15% 0 15%;
			h1, p {
				text-align:center;
				color:blue;
				font-family:'DancingScriptRegular‘;
				font-size: 400%;
				padding: 12px;
				line-height: 2em;}
			i, a, a:hover, a:visited {
				color:darkgreen;
